.array-container {
    position: relative;
    display: flexbox;
    flex-wrap: wrap;    
    flex-direction: column;
    margin-top: 40px;        
}

.array-container button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.array-bar {
    width: 4px;
    background-color: orange;
    display: inline-block;    
    margin-left: 1px;
    margin-right: 1px;    
    transition: 0.05s ease;    
}